
*{
    margin: 0;
}
.container{
    background-color: rgb(140, 0, 255);
    background-image: linear-gradient(to right, rgb(140, 0, 255) , rgb(184, 2, 175));
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box{
    width: 500px;
    height: 800px;
    background-color: white;

}
h1{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}
form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 400px;    

}

